/* Css reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics  */

.container {
    max-width: 90%;
    margin: 0 auto;
}

body {
    padding-top: 3rem;
}


/* Utils  */

.flex {
    display: flex;
}

/* Header  */

header {
    background-color: #0084FD;
    height: 3rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.flex > .nav-infos {
    display: none;
}

/* Jumbotron */

.jumbotron {
    margin-top: 1rem;
}

.row {
    display: flex;
    flex-direction: column;
}

.row .card {
    flex-basis: 100%;
    background-color: #B5DDFF;
    min-height: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.row .big {
    min-height: 40rem;
}


/* Main -- Sections  */

/* Footer */

/* ********* Qui metto il Responsive degli schermi superiori a 992 px ********  */

@media screen and (min-width: 577px) {
    .container {
        max-width: 90%;
    }

    .row {
        flex-direction: row;
    }

    .row .card {
        width: calc(100% / 3);
        min-height: 15rem;
        border: 1px solid green;
    }

    .row .big {
        min-width: calc(100% - 33% - 2rem);
    }

}

@media screen and (min-width: 992px) {
    .container {
        max-width: 70%;
    }

    .navbar {
        width: 75%;
    }

    .flex > .nav-infos {
        display: flex;
    }

}

