/* Css reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics  */

.container {
    max-width: 90%;
    margin: 0 auto;
}

body {
    padding-top: 5rem;
    font-family: 'PT Sans', sans-serif;
}


/* Utils  */

.flex {
    display: flex;
}

section {
    padding: 2rem 0;
}

.border {
    border: 2px dashed green;
}

.j-card-title {
    color: #0084FD;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.j-card-pargraph {
    color: #6c6c6c;
    font-weight: bold;
    padding: 1rem 0;
}

.img-j-wrapper img {
    height: 15rem;
    position: absolute;
    bottom: 0;
    left: 3rem;
}

.icon-j-card {
    color: #0084FD;
    font-size: 5rem;
}

p {
    line-height: 1.5rem;
}

.cursive {
    font-style: italic;
}

/* colors  */

.bg-purple {
    background-color: #9792E4;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #333333;
}

/* Buttons  */

button {
    cursor: pointer;
}

.nav-btn {
    font-size: 18px;
}

.white-btn {
    background-color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 10px 15px;
}

.app-store {
    background-color: #0084FD;
    border: none;
    color: #fff;
    border-radius: 2rem;
    padding: 10px 60px;
    font-size: 15px;
    font-weight: bold;
}


/* Header  */

header {
    background-color: #0084FD;
    height: 5rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.flex > .nav-infos {
    display: none;
}

.nav-rel a {
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
}

/* Jumbotron */

.jumbotron {
    padding-top: 1rem;
}

.row {
    display: flex;
    flex-direction: column;
}

.row .card {
    flex-basis: 100%;
    background-color: #B5DDFF;
    min-height: 20rem;
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem 0;
    position: relative;
    text-align: center;
}

.row .big {
    min-height: 40rem;
    text-align: left;
}


/* Main -- Sections  */

.planning {
    min-height: 75rem;
}

.testimonials {
    min-height: 75rem;
}

.benefits {
    min-height: 75rem;
}

.about-us {
    min-height: 75rem;
}

.platform-launch {
    min-height: 50rem;
}

/* PLANNING  */

.planning * {
    margin: 2rem auto;
}

.plan-img-wrapper {
    min-height: 25rem;
    background-image: url(../img/planning1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
}

.plan-img-dev {
    height: 25rem;
    background-image: url(../img/planning2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
}

.txt {
    color: #fff;
}

.txt h2 {
    font-size: 2rem;
}

.plan-card {
    min-height: 40rem;
    border-radius: 2rem;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 1rem;
}

.plan-card h3 {
    font-size: 1.5rem;
}


/* TESTIMONIALS  */

.rel-promo {
    min-height: 15rem;
}

.testimonial-card {
    min-height: 35rem;
    margin: 2rem 0;
    border-radius: 2rem;
}

.ben-title {
    min-height: 5rem;
}

.row-6 {
    display: flex;
    flex-direction: column;
}

.row-6 .benefits-card {
    flex-basis: 100%;
    min-height: 20rem;
    border-radius: 2rem;
    margin: 1rem 0;
}

.as-title {
    min-height: 5rem;
    margin-bottom: 1rem;
}

.as-paragraph {
    margin: 2rem 0;
}

.img-circle-wrapper {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.as-footer {
    min-height: 15rem;
}


/* Footer */

footer {
    min-height: 10rem;
    color: #fff;
}

.footer-p {
    padding: 2rem 1rem;
}





/* ********* Qui metto il Responsive degli schermi superiori a 992 px ********  */


/* TABLET  */

@media screen and (min-width: 577px) {
    .container {
        max-width: 90%;
    }

    .row {
        flex-direction: row;
    }

    .row .card {
        width: calc(100% / 3);
        min-height: 20rem;
        margin-right: 1rem;
    }

    .row .big {
        min-width: calc(100% - 33% - 1rem);
        height: 32.5rem;
    
    }

    

    /* Sezione dedicata ai planning  */
    .plan-img-wrapper, .plan-card {
        min-height: 50rem;
    }

    .txt h2 {
        font-size: 50px;
    }

    .txt p {
        font-size: 20px;
    }

    /* Sezione dedicata ai testimonials  */

    .testimonial-card {
        min-height: 15rem;
    }

    /* Sezione dedicata ai benefits  */

    .row-6 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .row-6 .benefits-card {
        flex-basis: calc(100% / 3 - 1rem);
        min-height: 20rem;
        border-radius: 2rem;
        margin: 0.5rem;
    }

    /* Sezione dedicata alle info  */

    .as-wrapper {
        display: flex;
        gap: 3rem;
    }

    .as-left {
        flex-basis: 60%;
    }
}   

    /* DESKTOP  */

@media screen and (min-width: 992px) {
    .container {
        width: 60%;
    }
   
    .navbar {
        width: 60%;
    }
    
    .menu-icon {
        display: none;
    }

    .flex > .nav-infos {
        display: flex;
        align-items: center;
        font-size: 18px;
    }

    .row .big {
        height: 25rem;
    }

    .left-size-bcard {
        width: 50%;
    }

    .img-j-wrapper img {
        height: 15rem;
        left: 25rem;
    }

    /* Sezione dedicata ai planning  */

    .wrapper {
        display: flex;
    }

    .plan-left {
        flex-basis: 40%;
    }

    .plan-card {
        flex-basis: 40%;
    }

    /* Sezione dedicata all-as  */
    .about-us {
        min-height: 45rem;
    }
}

